{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'style/pages/contact.css' %}">
{% endblock %}

{% block title %}
<title>Wabi-Sabi Contact</title>
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}



<div class="container">
    <div class="row">
        <div class="col-6 d-none d-md-block">
            <img class="contact-img" src="{% static 'images/contact.jpeg' %}" alt="">
        </div>
        <div class="col-md-5 offset-md-1 mb-4 text-center">
            <h3>CONTACT US</h3>
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <!-- template variable -->
                <div>
                    {{ contact_form | crispy }}
                </div>
                <div>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}