{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/pages/contact.css' %}">

{% block title %}
<title>Wabi-Sabi Contact</title>
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}



<div class="container">

    <div class="row">
        <div class="col-md-5 mt-3 offset-md-8 text-center">
            <h3>CONTACT US</h3>

            <form method="POST" action="{% url 'contactadd' %}">
                {% csrf_token %}
                <!-- template variable -->
                <div>
                    {{ contact_form | crispy }}
                </div>
                <div>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}