{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Wabi-Sabi Contact</title>
{% endblock %}


{% block content %}


<div class="container">

    <div class="row">
        <div class="col-md-12 mt-3 offset-md-4 text-center">
            <h3>CONTACT US</h3>

            <form method="POST" action="add">
                {% csrf_token %}
                <!-- template variable -->
                <div>
                    <p>{{form.as_p}}</p>
                </div>
                <div>
                    <p>
                        <button type="submit">submit</button>
                    </p>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}