{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Wabi-Sabi</title>
{% endblock %}

{% block content %}
<section class="hero-video">

    <video id="myvideo" src="{% static 'images/wabi-sabi-landing-page.mp4' %}" loop autoplay>
    </video>
    <script>
        document.getElementById('myvideo').play();
    </script>
    </div>
    <div class="overlay"></div>
    <div class="actioncall">
        <h5 class="live text-center text-md-left">LIVE</h5>
        <h1 class="wabi-sabi">WABI<span class="d-none d-md-inline">-</span><br class="d-md-none">SABI</h1>
        <h5 class="prompt ml-5 ml-md-0 ">a zin way of life</h5>
        <a href="{% url 'signup' %}"><button class="join ">
                Join now
            </button></a>
    </div>




</section>

{% endblock %}