{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Wabi-Sabi</title>
{% endblock %}

{% block content %}
<section class="hero-video">

    <video id="myvideo" src="{% static 'images/wabi-sabi-landing-page.mp4' %}" loop autoplay>
    </video>
    <script>
        document.getElementById('myvideo').play();
    </script>
    </div>
    <div class="overlay"></div>
    <div class="actioncall">
        <h5 class="live">LIVE</h5>
        <h1 class="wabi-sabi">WABI-SABI</h1>
        <h5 class="prompt">a zin way of life</h5>
        <a href="{% url 'signup' %}"><button class="join">
                Join now
            </button></a>
    </div>




</section>

{% endblock %}