{% load static %}
{% block styles %}
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    {% block title %}
    <title>Wabi-Sabi</title>
    {% endblock %}
</head>

<body>

    <nav id="navbar" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="{% url 'home' %}" class="navbar-brand d-flex w-50 ml-5 logo">Wabi-Sabi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="navbarNavDropdown">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles' %}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav mr-5 w-100 justify-content-end">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link site-menu-link" href="{% url 'profile' %}"
                        aria-label="Link to profile page.">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


    <!-- Footer -->
    <footer class="container-fluid">
        <div class="row life">
            <div class="col-12 text-center life">
                新しい生き方を受け入れる
                <br mt-5>
                Embrace a new way of life
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="col-sm-12 order-md-first  col-md-3 mt-3 text-center">
                <a class="mr-5" href="https://github.com/hammad25" target="_blank" rel="noopener"
                    aria-label="Visit our github page (opens in a new tab)"><i
                        class="fa-brands fa-github socials"></i></a>
                <span class=""></span>
                <a class="socials" href="">
                    <i class="fa-brands fa-linkedin-in socials"></i>
                </a>
            </div>
            <div class=" col-sm-12 col-md-6  order-md-2 order-first text-center">
                <p>Live the feelings</p>
                <a href="{% url 'signup' %}"><button class="join-small">subscribe</button></a>
            </div>
            <div class="col-sm-12 col-md-3 text-center order-3">&copy; 2022 by HH</div>
        </div>
    </footer>
    <!-- Footer ends-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script>
        // $(document).ready(function () {
        //     $.each($('#navbar').find('li'), function () {
        //         $(this).toggleClass('active',
        //             window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
        //     });
        // });
        $(document).ready(function (e) {
            var pathname = window.location.pathname;
            atag = $('.nav-item a[href="' + pathname + '"]');
            // #Here you should mention your < li > class name "dropdown"
            atag.parent().addClass("active");
        });
    </script>
</body>

</html>